body {
    background-color: white;
    color: #5e5e5e;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: roboto;
}

:root {
    --bg: white;
    --text-color: #000000;
    --nav-size: 60px;
    --border: 1px solid #white;
    --border-radius: 20px;
    --speed: 500ms;
}

h4 {
    color: #5e5e5e;
    padding: 0px 0px 0px 0px;
    margin: 10px 5px 10px 5px;
}

a {
    padding: 0px 0px 0px 0px;
    margin: 10px 5px 10px 5px;
}

button {
    color: #5e5e5e;
    background-color: #bae8e8;
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 10px;
    border-radius: 3px;
    border-color: white;
    
}

.button_secondary {
    color: #5e5e5e;
    background-color: #e3f6f5;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border-color: white;
    
}

input {
    border-color:lightgrey;
    border-radius: 2px;
    border-width: 1px;
    height: 30px;
    width: 100%;
    margin : 10px 20px 10px 0px;
    padding: 10px 10px 10px 10px;
}

.area {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 50px;

    border-style: solid;
    border-width: 2px;
    border-color: #e3f6f5;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.login_signup {
    /* padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 50px; */

    padding: 50px 50px 50px 50px;
    margin: 20px 10px 20px 10px;

    border-style: solid;
    border-width: 2px;
    border-color: #e3f6f5;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.profile_item_name {
    float: left;
    width: 25%;

    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.profile_item_value {
    float: right;
    width: 75%;
    
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

    border-style: solid;
    border-width: 2px;
    border-color: #e3f6f5;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

/* Create two equal columns that floats next to each other */
.thirdcolumn {
    float: left;
    width: 33%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    overflow-wrap: anywhere;
}

.halfcolumn {
    float: left;
    width: 50%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    overflow-wrap: anywhere;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.item {
    position: relative;
    display: inline-flexbox;
    flex-wrap: wrap;

    padding: 10px 20px 10px 20px;
    margin: 30px 10px 30px 10px;

    border-style: solid;
    border-width: 1px;
    border-color: #e3f6f5;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
    overflow-wrap: anywhere;
}

/* change default bullet list*/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* change links to text color */
a {
    color: var(--text-color);
    text-decoration: none;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
}

/* <ul> */
.navbar_nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

/* <li> */
.nav_item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icon Button */
.icon_button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size * 2);
    height: var(--button-size * 2);
    background-color: #a2ddfb;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon_button:hover {
    background-color: #70cff8;
}

.icon_button svg {
    fill: var(--text-color);
    width: 30px;
    height: 30px;
}

/* Dropdown Menu */

.dropdown {
    margin: 22px;
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translateX(-45%);
    background-color: #70cff8;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    z-index: 1;
}

.menu {
    width: 100%;
}

.menu_item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu_item:hover {
    background-color: #a2ddfb;
}

.icon_right {
    margin-left: auto;
}

.column_title {
    text-align: left;
    font-size: 32px;
    overflow: hidden;
}

.application_fields {
    text-align: left;
    font-size: 32px;
    overflow: hidden;
}

.rectangle_481_C61RwL {
    background-color: var(--white);
    height: 54px;
    left: 499px;
    position: absolute;
    top: 1509px;
    width: 427px;
    background-color: var(--white);
    height: 57px;
    left: 499px;
    position: relative;
    top: 100px;
    width: 763px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flexbox;
    flex-wrap: wrap;

    border-style: solid;
    border-width: 3px;
    border-color: #a2ddfb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}
.rectangle_482_C61RwL {
    background-color: var(--white);
    height: 54px;
    left: 499px;
    position: absolute;
    top: 1582px;
    width: 427px;
    background-color: var(--white);
    height: 57px;
    left: 499px;
    position: relative;
    top: 100px;
    width: 763px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flexbox;
    flex-wrap: wrap;

    border-style: solid;
    border-width: 3px;
    border-color: #a2ddfb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}
.rectangle_483_C61RwL {
    background-color: var(--white);
    height: 164px;
    left: 499px;
    position: absolute;
    width: 763px;
    background-color: var(--white);
    height: 57px;
    left: 499px;
    position: relative;
    top: 500px;
    width: 763px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flexbox;
    flex-wrap: wrap;

    border-style: solid;
    border-width: 3px;
    border-color: #a2ddfb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}
.rectangle_484_C61RwL {
    background-color: var(--white);
    height: 57px;
    left: 499px;
    position: relative;
    top: 100px;
    width: 763px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flexbox;
    flex-wrap: wrap;

    border-style: solid;
    border-width: 3px;
    border-color: #a2ddfb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}
.rectangle_485_C61RwL {
    background-color: var(--white);
    height: 59px;
    left: 499px;
    position: absolute;
    top: 1105px;
    width: 763px;
    background-color: var(--white);
    height: 57px;
    left: 499px;
    position: relative;
    top: 100px;
    width: 763px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flexbox;
    flex-wrap: wrap;

    border-style: solid;
    border-width: 3px;
    border-color: #a2ddfb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}
.rectangle_486_C61RwL {
    background-color: var(--white);
    height: 56px;
    left: 480px;
    position: absolute;
    top: 552px;
    width: 763px;
    background-color: var(--white);
    height: 57px;
    left: 499px;
    position: relative;
    top: 100px;
    width: 763px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flexbox;
    flex-wrap: wrap;

    border-style: solid;
    border-width: 3px;
    border-color: #a2ddfb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}
.rectangle_487_C61RwL {
    background-color: var(--white);
    height: 55px;
    left: 480px;
    position: absolute;
    width: 763px;
    background-color: var(--white);
    height: 57px;
    left: 499px;
    position: relative;
    top: 600px;
    width: 763px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flexbox;
    flex-wrap: wrap;

    border-style: solid;
    border-width: 3px;
    border-color: #a2ddfb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}
.rectangle_488_C61RwL {
    background-color: var(--white);
    height: 56px;
    left: 480px;
    position: absolute;
    width: 763px;
    background-color: var(--white);
    height: 57px;
    left: 499px;
    position: relative;
    top: 600px;
    width: 763px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flexbox;
    flex-wrap: wrap;

    border-style: solid;
    border-width: 3px;
    border-color: #a2ddfb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}
.rectangle_489_C61RwL {
    background-color: var(--white);
    height: 54px;
    left: 499px;
    position: absolute;
    top: 1329px;
    width: 427px;
    background-color: var(--white);
    height: 57px;
    left: 499px;
    position: relative;
    top: 100px;
    width: 763px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flexbox;
    flex-wrap: wrap;

    border-style: solid;
    border-width: 3px;
    border-color: #a2ddfb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}
.rectangle_490_C61RwL {
    background-color: var(--white);
    height: 54px;
    left: 499px;
    position: absolute;
    top: 1419px;
    width: 427px;
    background-color: var(--white);
    height: 57px;
    left: 499px;
    position: relative;
    top: 100px;
    width: 763px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flexbox;
    flex-wrap: wrap;

    border-style: solid;
    border-width: 3px;
    border-color: #a2ddfb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}
.rectangle_491_C61RwL {
    background-color: var(--white);
    height: 54px;
    left: 1027px;
    position: absolute;
    top: 1329px;
    width: 235px;
    background-color: var(--white);
    height: 57px;
    left: 499px;
    position: relative;
    top: 100px;
    width: 763px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flexbox;
    flex-wrap: wrap;

    border-style: solid;
    border-width: 3px;
    border-color: #a2ddfb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}
.rectangle_492_C61RwL {
    background-color: var(--white);
    height: 54px;
    left: 1028px;
    position: absolute;
    top: 1418px;
    width: 235px;
    background-color: var(--white);
    height: 57px;
    left: 499px;
    position: relative;
    top: 100px;
    width: 763px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flexbox;
    flex-wrap: wrap;

    border-style: solid;
    border-width: 3px;
    border-color: #a2ddfb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}
.rectangle_C61RwL {
    background-color: var(--black-4);
    height: 3px;
    left: 47px;
    position: absolute;
    top: 2242px;
    width: 1354px;
    background-color: var(--white);
    height: 57px;
    left: 499px;
    position: relative;
    top: 100px;
    width: 763px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flexbox;
    flex-wrap: wrap;

    border-style: solid;
    border-width: 3px;
    border-color: #a2ddfb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}

.company_C61RwL {
    font-size: 32px;
    background-color: transparent;
    height: 59px;
    left: 155px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 110px;
    width: 292px;
}

.deadline_C61RwL {
    font-size: 32px;
    background-color: transparent;
    height: 59px;
    left: 155px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 375px;
    width: 292px;
}

.JobTitle_C61RwL {
    font-size: 32px;
    background-color: transparent;
    height: 59px;
    left: 155px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 195px;
    width: 292px;
}

.JobId_C61RwL {
    font-size: 32px;
    background-color: transparent;
    height: 59px;
    left: 155px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 285px;
    width: 292px;
}

.JobPostingLink_C61RwL {
    font-size: 32px;
    background-color: transparent;
    height: 59px;
    left: 155px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 870px;
    width: 292px;
}

.JobDashboardLink_C61RwL {
    font-size: 32px;
    background-color: transparent;
    height: 59px;
    left: 155px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 960px;
    width: 292px;
}

.dashboard_item_VMr6Om {
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 3px 5px 4px rgb(0 0 0 / 25%);
    height: 371px;
    left: 482px;
    position: absolute;
    top: 645px;
    width: 452px;
    overflow-wrap: anywhere;
}

.calendar {
    margin-top: -50px;
    padding-left: 575px;
    position: relative;
}

.buttonPos1 {
    position: absolute;
    top: 1100px;
    right: 600px;
}

.buttonPos2 {
    position: absolute;
    top: 1100px;
    right: 700px;
}

.fullcolumn {
    text-align-last: left;
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 3px 5px 4px rgb(0 0 0 / 25%);
    height: 1300px;
    position: absolute;
    width: 100%;
    overflow-wrap: anywhere;
    padding-right: 215px;
    padding-bottom: 500px;
}

.areafull {
    height: 1200px;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    border-style: solid;
    border-width: 3px;
    border-color: #a2ddfb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}